* {
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
    -webkit-user-select: none;
    user-select: none;
    font-size: 120%;
    color: white;
}

body::before {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    overflow-y: hidden;
    filter: blur(2px);
}
body {
    background-image: url("Resources/bg.gif"); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#main {
    height: fit-content;
    width: 100%;
    background-color: #000000aa;
    position: absolute;
    overflow-y: scroll;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#big-czp1 {
    overflow-y: hidden;
    position: relative;
    font-size: 10vh;
    justify-self: flex-start;
    align-self: center;
}

.czp-intro {
    overflow-y: hidden;
    position: relative;
    margin: 2%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

#fotos-czp1 {
    position: relative;
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.czp1-fotos {
    height: 100%;
    width: calc(100% / 2);
    border-radius: 5%;
}

#top-czp1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#mid-czp1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

#bottom-czp1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#big-czp2 {
    overflow-y: hidden;
    position: relative;
    font-size: 10vh;
    margin-top: 10%;
    justify-self: flex-start;
    align-self: center;
}

#czp2-video {
    width: 60%;
}